﻿/***************************************************************
**  Theme Common Devices Definitions
**  CSS : LESS
**  Common styles
***************************************************************/
.theme body {
    background-color: #eeefea;
}
.theme body header {
    background-color: #565c29;
}
/***************************************************************
**  Theme Mobile Devices Definitions
**  CSS : LESS
**  Common styles
***************************************************************/
.km-root span,
.km-root div,
.km-flat .wp-dashBoard-category h1 {
    color: #787c5e;
}
.km-flat {
    /*
        WORKPORTAL TABS
    */
    /*
        DRAWERS
    */
    /*
        TaskFeed
    */
    /*
        SUMMARY CASE
    */
    /*
        SUMMARY CASE TABLET
    */
    /*
        RENDERING
    */
}
.km-flat hr {
    border-color: #565c29;
}
.km-flat .km-content {
    background: #eeefea;
}
.km-flat .km-loader:before {
    background: #353919;
}
.km-flat .km-icon {
    color: #d4d9ab;
}
.km-flat .km-navbar,
.km-flat .km-widget .km-navbar,
#taskFeed .km-widget.km-navbar {
    background: #565c29 !important;
}
.km-flat .km-navbar .bz-wp-status-container {
    background: #879141 !important;
}
.km-flat .km-navbar .bz-wp-status-container span {
    color: #565c29 !important;
}
.km-flat .bz-db-tab-navigator-container .bz-db-tab {
    background: #879141;
}
.km-flat .bz-db-tab-navigator-container .bz-db-tab .bz-db-tab-title {
    color: #d4d9ab;
}
.km-flat .km-view-title span {
    color: #d4d9ab;
}
.km-flat .wp-db-item .wp-db-title-container {
    background-color: #a6b253;
}
.km-flat .wp-db-item .wp-db-content {
    background-color: #ffffff;
}
.km-flat .km-listview-wrapper ul {
    border-color: #565c29;
}
.km-flat #content-menu-drawer {
    background-color: #333618;
}
.km-flat #content-menu-drawer .km-listview-wrapper span,
.km-flat #content-menu-drawer .km-scroll-wrapper span {
    color: #afb961;
}
.km-flat #content-menu-drawer .km-listview-wrapper li,
.km-flat #content-menu-drawer .km-scroll-wrapper li {
    border-color: rgba(175, 185, 97, 0.3) !important;
}
.km-flat #content-menu-drawer .km-scroll-container li {
    background: #333618;
}
.km-flat #content-menu-drawer .km-scroll-container span {
    color: #afb961;
}
.km-flat #content-menu-drawer .km-scroll-container .bz-menu-title {
    color: #c1c985;
}
.km-flat #content-menu-drawer .bz-wp-mu-input-search-menu {
    background: #6a6f42;
    color: #ffffff;
}
.km-flat #content-menu-drawer .bz-wp-mu-button-search {
    color: #6a6f42;
}
.km-flat #newCase-drawer .km-content {
    background-color: #333618;
}
.km-flat #newCase-drawer .km-listview-wrapper span,
.km-flat #newCase-drawer .km-scroll-wrapper span {
    color: #afb961;
}
.km-flat #newCase-drawer .km-listview-wrapper li,
.km-flat #newCase-drawer .km-scroll-wrapper li {
    border-color: rgba(175, 185, 97, 0.3) !important;
}
.km-flat #newCase-drawer .km-scroll-container li {
    background: #333618;
}
.km-flat #newCase-drawer .km-scroll-container .km-state-active {
    background: #444820;
}
.km-flat #newCase-drawer .km-scroll-container span {
    color: #afb961;
}
.km-flat #newCase-drawer .km-scroll-container .bz-menu-title {
    color: #c1c985;
}
.km-flat #newCase-drawer .km-scroll-container #bz-mainmenu-items-container {
    border-color: rgba(175, 185, 97, 0.3) !important;
}
.km-flat #newCase-drawer .bz-newcase-search {
    background: #6a6f42;
    color: #ffffff;
}
.km-flat .wp-case-template-item .actions-section .km-button {
    background-color: #777f39 !important;
}
.km-flat .wp-case-template-item .actions-section .km-button span {
    color: #e6e9ce !important;
}
.km-flat .wp-case-template-item .header-section .wp-action-item-check .km-icon {
    color: #777f39 !important;
}
.km-flat .wp-case-template-item .header-section .selected {
    background-color: #777f39 !important;
}
.km-flat .wp-case-template-item .header-section .selected .km-icon {
    color: #ffffff !important;
}
.km-flat .wp-case-template-item .header-section .hs-right .km-button {
    background-color: #777f39 !important;
}
.km-flat .wp-case-template-item .header-section .hs-right .km-button .km-icon {
    color: #ffffff !important;
}
.km-flat .wp-case-template-item .header-section .hs-right .no-mark {
    background-color: white!important;
}
.km-flat .wp-case-template-item .header-section .hs-right .no-mark .km-icon {
    color: #777f39 !important;
}
.km-flat #caseTemplatesOptions .km-content {
    background-color: #333618;
}
.km-flat #caseTemplatesOptions .km-listview-wrapper span,
.km-flat #caseTemplatesOptions .km-scroll-wrapper span {
    color: #afb961;
}
.km-flat #caseTemplatesOptions .km-listview-wrapper li,
.km-flat #caseTemplatesOptions .km-scroll-wrapper li {
    border-color: rgba(175, 185, 97, 0.3) !important;
}
.km-flat #caseTemplatesOptions .km-scroll-container li {
    background: #333618;
}
.km-flat #caseTemplatesOptions .km-scroll-container .km-state-active {
    background: #444820;
}
.km-flat #caseTemplatesOptions .km-scroll-container span {
    color: #afb961;
}
.km-flat #caseTemplatesOptions .km-scroll-container .bz-menu-title {
    color: #c1c985;
}
.km-flat #caseTemplatesOptions .km-scroll-container #bz-mainmenu-items-container {
    border-color: rgba(175, 185, 97, 0.3) !important;
}
.km-flat #caseTemplatesOptions .bz-newcase-search {
    background: #6a6f42;
    color: #ffffff;
}
.km-flat #caseTemplatesOptions .km-group-title {
    background-color: #333618;
    border-style: none;
}
.km-flat #caseTemplatesOptions .km-scroll-container span {
    color: #333618;
}
.km-flat #caseTemplatesOptions .search-container {
    background-color: #333618;
}
.km-flat #caseTemplatesOptions .bz-caseTemplatesOptions-search {
    background: #6a6f42;
    color: #ffffff;
}
.km-flat #caseTemplatesOptions .bz-caseTemplatesOptions-search::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(255, 255, 255, 0.4);
}
.km-flat #caseTemplatesOptions .bz-caseTemplatesOptions-search:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, 0.4);
}
.km-flat #caseTemplatesOptions .bz-caseTemplatesOptions-search::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, 0.4);
}
.km-flat #caseTemplatesOptions .bz-caseTemplatesOptions-search:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.4);
}
.km-flat #caseTemplatesOptions .bz-wp-cto-container .km-group-container li {
    background-color: #e2e4dc;
}
.km-flat #caseTemplatesOptions .bz-wp-cto-container .km-group-container .cto-selected {
    background-color: #bfc3b0 !important;
}
.km-flat #taskFeed .km-group-title {
    background-color: rgba(86, 92, 41, 0.5);
}
.km-flat #taskFeed .km-text {
    color: #ffffff;
}
.km-flat #taskFeed .bz-wp-tf-search-container {
    background: #eeefea;
}
.km-flat #modalview-summary .km-navbar span,
.km-flat #modalview-summary .km-navbar .km-view-title {
    color: #ffffff;
}
.km-flat #modalview-summary .km-navbar .km-rightitem {
    background: #777f39;
}
.km-flat .bz-wp-summary-item-content .bz-wp-summary-item-header {
    border-color: #565c29 !important;
    background: rgba(86, 92, 41, 0.5) !important;
}
.km-flat .bz-wp-summary-item-content #bz-wp-summary-item-list .bz-wp-sm-item-actions {
    background: rgba(86, 92, 41, 0.5);
}
.km-flat .bz-wp-summary-item-content #bz-wp-summary-item-list .bz-wp-sm-item-actions #bz-wp-sm-item-workonit {
    background: #98a348;
    color: #ffffff;
}
.km-flat .bz-wp-summary-item-content #bz-wp-summary-item-list .bz-wp-sm-item-value {
    background-color: #ddded4;
}
.km-flat .ui-bizagi-form {
    background-color: #eeefea !important;
}
.km-flat .ui-bizagi-form .bz-wp-case-path-form,
.km-flat .ui-bizagi-form .bz-wp-case-name-form {
    border-color: #565c29;
}
.km-flat .ui-bizagi-form .ui-bizagi-container {
    border-color: #565c29;
}
.km-flat .ui-bizagi-form .ui-bizagi-container .bz-header_select {
    border-color: #565c29 !important;
}
.km-flat .ui-bizagi-form .ui-bizagi-container .bz-wp-tabs-ui span {
    border-color: #565c29 !important;
    color: #000000 !important;
}
.km-flat .ui-bizagi-form .ui-bizagi-container .tabSelected span {
    background-color: #bbbea9;
    color: #ffffff !important;
}
.km-flat .ui-bizagi-form .ui-bizagi-grid .bz-rn-grid-cn-header {
    background-color: #bbbea9 !important;
}
.km-flat .ui-bizagi-form .ui-bizagi-grid .bz-rn-grid-cn-header .bz-rn-grid-header-title {
    color: #ffffff !important;
}
.km-flat .ui-bizagi-form .ui-bizagi-grid .bz-rn-grid-cn-header .ui-bizagi-grid-buttons .ui-icon {
    color: #ffffff !important;
}
.km-flat .ui-bizagi-form .ui-bizagi-grid .ui-bizagi-grid-table th label {
    color: #767c5e;
}
.km-flat .ui-bizagi-form .ui-bizagi-form-group .headertitle {
    background-color: #bbbea9 !important;
}
.km-flat .ui-bizagi-form .ui-bizagi-form-group .headertitle div span {
    color: #ffffff !important;
}
.km-flat .ui-bizagi-form .ui-bizagi-form-group .headertitle div span:after {
    color: #ffffff !important;
}
.km-flat .ui-bizagi-form .ui-bizagi-label label {
    color: #767c5e;
}
.km-flat .ui-bizagi-form .ui-bizagi-button-container .ui-bizagi-form-button {
    color: #767c5e;
}
.km-flat #bz-render-drawer .km-content,
.km-flat #bz-case-properties .km-content,
.km-flat #bz-case-properties .km-list li {
    background-color: #333618;
}
.km-flat #bz-render-drawer .bz-item-case h3 {
    color: #c1c985;
}
.km-flat #bz-render-drawer .bz-header_select {
    border: #565c29;
}
.km-flat #bz-render-drawer .bz-header_select .bz-wp-tabs-ui span {
    border-color: #565c29 !important;
    color: #ffffff !important;
}
.km-flat #bz-render-drawer .bz-header_select .tabSelected span {
    background-color: #bbbea9;
    color: #ffffff !important;
}
.km-flat #bz-render-drawer .bz-wp-summary-title {
    color: #c1c985;
}
.km-flat #bz-render-drawer .bz-wp-summary-value {
    color: #afb961;
}
.km-flat input.bz-wp-mu-input-search-menu {
    background: #6a6f42;
    color: #ffffff;
}
.km-flat #bz-case-properties .bz-menu-title {
    color: #d4d9ab;
}
.km-flat .bz-menu-li span {
    color: #aaad93;
}
